<div class="container">
  <h2>Books</h2>
  <form (ngSubmit)="addBook()">
    <input type="text" [(ngModel)]="newBook.title" name="title" placeholder="Title" required>
    <input type="text" [(ngModel)]="newBook.author" name="author" placeholder="Author" required>
    <input type="number" [(ngModel)]="newBook.price" name="price" placeholder="Price" required>
    <input type="text" [(ngModel)]="newBook.genre" name="genre" placeholder="Genre" required>
    <button type="submit">Add Book</button>
  </form>
  <div>
    <select [(ngModel)]="selectedGenre" (change)="filterBooks()">
      <option value="">All Genres</option>
      <option *ngFor="let book of books" [value]="book.genre">{{ book.genre }}</option>
    </select>
    <div class="search-container">
      <input type="text" 
             [(ngModel)]="searchQuery" 
             (input)="filterBooks()" 
             placeholder="Search by title or author"
             (focus)="updateSuggestions()">
      <ul class="suggestions" *ngIf="suggestions.length > 0">
        <li *ngFor="let suggestion of suggestions" 
            (click)="selectSuggestion(suggestion)">
          {{ suggestion }}
        </li>
      </ul>
    </div>
  </div>
  <ul>
    <li *ngFor="let book of filteredBooks">
      <a [routerLink]="['/books', book._id]">{{ book.title }}</a> by {{ book.author }} - ${{ book.price }}
      <button (click)="addToCart(book._id)">Add to Cart</button>
      <button (click)="addToWishlist(book._id)">Add to Wishlist</button>
      <button (click)="deleteBook(book._id)">Delete</button>
    </li>
  </ul>
</div>